<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <h2>It appears that your account has been blocked</h2>
        <p>There are multiple failed login attempts detected, hence we temporarily block your account</p>
        <br>
        <p>To unblock your account, please refer to this link and you will be prompted to change your password</p>
        <a href={{link}} target="_blank">
            <button style="background-color:white; font:black; padding:5px; border:1px solid black; border-radius:25%;">Verify</button>
        </a>
    </div>
</body>
</html>