<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <div>
        <h2>Welcome to OntoEmployee!</h2>
        <p>Hello {{companyName}}, we are pleased to welcome you to our platform.</p>
        <br>
        <p>We are looking forward to work with you.</p>
        <br>
        <p>Thank you for choosing OntoEmployee!</p>
    </div>
</body>
</html>